@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body{
  width:80%;
  margin:auto;
  padding-top:40px;
}

.avatars{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.card{
  color:white;
  padding:15px;
  background-color:mediumseagreen;
}
.card a {
  color:white;
  text-decoration: none;
  color:lightcyan;
}